*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all .5s linear;
}

.likes{
    color: #2468ec;
    width: 300px;
    height: 300px;
    border: dashed;
    background: linear-gradient( yellow, black);
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    font-size: 30px;
}

.mula{
    color: white;
    width: 300px;
    height: 300px;
    border: dashed;
    background: linear-gradient( red,purple);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.anime{
    background-color: rgb( 21,91,58);
    width: 70px;
    height: 70px;
    border-radius: 30px;
}

.socials{
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
}